<!DOCTYPE html>
</html>
<head>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
    <form action = "/signup" method = "POST">
        <div class="info-box">
        First Name
        <input type = "text" name = "fname" >
        Last Name 
        <input type = "text" name = "lname" >
        Username
        <input type = "text" name = "username" >
        Password
    </form>
        <input type = "text" name = "password" > <form action="/" method="POST">
            <button type = "submit" name = "submit" > Submit </button>
        </form>

       
       

        <form action="/back" method="POST">
            <button type="submit" name="back" value="Back">Back</button><br>
        </form>
       <br> {{ message }} <br>
        Returning User? <a href="{{ url_for('login') }}">Sign Up</a>
        </div>
    </div>
    </body>
    </html>
